<%- include("partials/header") -%> 
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus accusantium voluptas mollitia, dolorum quos harum optio dolores ea facere odit, similique cum sunt numquam veniam aliquam et ut quidem.</p>

<%- include("partials/footer") -%> 